<!-- <h1><%= @user.name.capitalize %>'s Profile</h1> -->
<section class='profile-container'>
  <div class='profile-top'>
    <div class="profile-top--title">
      <h1><%= @user.name %></h1>
      <h5><%= @user.email %></h5>
      <div class='profile-top--profile-picture'>
        <% if @user.image %>
        <div class='profile-top--profile-picture__img-wrapper'>
          <img class='profile-top--profile-picture__img'
            src="<%= @user.image %>" alt='User Profile Picture' />
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<div class='bumper-100'></div>

<section>
  <% if !@photos.nil? %>
    <div class='row small-up-1 medium-up-2 large-up-3'>
      <% @photos.each do |image| %>
        <div class='column column-block'>
          <div class='user-upload'>
            <div class='user-upload--img-wrapper'>
              <%= image_tag "#{image.photo}" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
