<section class='profile-container'>
  <div class='profile-top'>
    <div class="profile-top--title">
      <h1><%= @user.name %></h1>
      <h5><%= @user.email %></h5>
      <% if @user.phone_number %>
        <h5><%= @user.phone_number %></h5>
      <% end %>
      <div class='profile-top--profile-picture'>
        <% if @user.image %>
        <div class='profile-top--profile-picture__img-wrapper'>
          <img class='profile-top--profile-picture__img'
            src="<%= @user.image %>" alt='User Profile Picture' />
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<div class="bumper-100"></div>


<% if @current_user.id == @user.id %>
  <% if @complete_profile == false %>
    <div class='row'>
      <div class='columns small-centered small-12 medium-3 complete-profile--container text-center'>
        <%= link_to 'Complete Your Profile!', edit_user_path,
        class: "complete-profile--btn" %>
      </div>
    </div>
  <% end %>
<% end %>

<div class='bumper-25'></div>

<div class='row'>
  <div class='columns small-12 small-centered text-center'>
    <h2>Details</h2>
  </div>
</div>

<div class='bumper-25'></div>

<div class='row'>
  <div class='columns small-12 medium-6'>
    <% if @user.mother %>
      <h4>Mother: <%= @user.mother %>
    <% else %>
      <h4>Mother: N/A
    <% end %>
  </div>
  <div class='columns small-12 medium-6'>
    <% if @user.father %>
      <h4>Father: <%= @user.father %>
    <% else %>
      <h4>Father: N/A
    <% end %>
  </div>
</div>
<div class='row'>
  <div class='columns small-12 medium-6'>
    <% if @user.city && @user.state %>
      <h4>Location: <%= @user.city + ', ' + @user.state%>
    <% elsif @user.city && @user.state.nil? %>
      <h4>Location: <%= @user.city %></h4>
    <% else %>
      <h4>Location: <%= @user.state %></h4>
    <% end %>
  </div>
  <div class='columns small-12 medium-6'>
    <% if @user.address %>
      <h4>Address: <%= @user.address %></h4>
    <% else %>
      <h4>Address: N/A</h4>
    <% end %>
  </div>
</div>

<% if !@photos.nil? %>
<section>
    <div class='recent-uploads--container'>
      <% @photos.each do |uploads| %>
        <% uploads.photos.each do |photo| %>
          <div class='recent-uploads--wrapper'>
            <%= image_tag "#{photo.url.to_s}", class: 'recent-uploads--img' %>
          </div>
        <% end %>
      <% end %>
    </div>
</section>
<% end %>
