<section class='profile-container'>
  <div class='profile-top'>
    <div class="profile-top--title">
      <h1><%= @user.name %></h1>
      <h5><%= @user.email %></h5>
      <div class='profile-top--profile-picture'>
        <% if @user.image %>
        <div class='profile-top--profile-picture__img-wrapper'>
          <img class='profile-top--profile-picture__img'
            src="<%= @user.image %>" alt='User Profile Picture' />
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<div class="bumper-100"></div>


<% if @current_user.id == @user.id %>
  <% if @complete_profile == false %>
    <div class='row'>
      <div class='columns small-centered small-12 medium-3 complete-profile--container text-center'>
        <%= link_to 'Complete Your Profile!', edit_user_path,
        class: "complete-profile--btn" %>
      </div>
    </div>
  <% end %>
<% end %>

<div class='bumper-100'></div>

<% if !@photos.nil? %>
<section>
    <div class='recent-uploads--container'>
      <% @photos.each do |uploads| %>
        <% uploads.photos.each do |photo| %>
          <div class='recent-uploads--wrapper'>
            <%= image_tag "#{photo.url.to_s}", class: 'recent-uploads--img' %>
          </div>
        <% end %>
      <% end %>
    </div>
</section>
<% end %>
