<div class='bumper-25'></div>
<h2 class='text-center'>Log in or Sign up</h2>
<div class='bumper-25'></div>

<section>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form--login__box'}) do |f| %>

    <div class="form--login__field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="form--login__field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form--login__field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class='bumper-25'></div>

    <div class="form--login__submit-container">
      <%= f.submit "Log in", class: 'form--login__submit-button' %>
    </div>

  <br/>

    <div class='row'>
      <div class='columns small-12 small-centered text-center'>
        <a href="http://www.adamskitree.com/users/auth/facebook" class="form--login__facebook-btn"> <span>Connect with Facebook</span></a>
      </div>
    </div>

  <br/>

    <div class='row'>
      <div class='columns small-12 small-centered text-center'>
        <%= link_to 'Or Create a New Account', new_user_registration_path, class: 'form--login__create-account' %>
      </div>
    </div>
  <% end %>
</section>

<div class='bumper-50'></div>
<div class='bumper-50'></div>
