<!-- <%= form_for [@photo] do |f| %>

      <%= f.file_field :photo %>

      <div class='text-center'>
        <%= f.submit "Upload", class: 'button' %>
      </div>

    <% end %> -->

<div class="wrapper">
  <%= form_for [@photo] do |f| %>

    <div class="file-upload">
      <%= f.file_field :photo %>
      <i class="fa fa-arrow-up"></i>
    </div>

    <div class='text-center'>
      <%= f.submit "Upload", class: 'button' %>
    </div>

  <% end %>
</div>
