<!-- Top Hero Banner Image Container w/ Blurb-->
<section class='info-container'>
  <div class='info-top'>
    <div class='info-top--title'>
      <div class='row'>
        <div class='columns small-12 text-center'>
          <h2>Connecting with Family - Made Easy!</h2>
          <h2>Share Memories | Make Connections</h2>
        </div>
      </div>
      <div class='bumper-25'></div>
      <hr width='25%'/>
      <div class='bumper-25'></div>
      <div class='row'>
        <div class='columns small-12 text-center'>
          <h2>- How It Works -</h2>
          <a href="#instructions">
            <img src="https://cdn4.iconfinder.com/data/icons/linecon/512/info-128.png" height='40' width='40'>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class='bumper-25'></div>
<div class='bumper-25'></div>
<div class='bumper-25'></div>

<section id='instructions'>
  <!-- How-To #1 == SIGNUP == -->
  <div class='row'>
    <div class='columns small-12 medium-5'>
      <h3 class='text-center'>How To Sign Up</h3>
      <ol>
        <li>Click <span class='bold-text'>Sign Up</span> from the top of the page</li>
        <li>You have 2 options here</li>
          <ul>
            <li>Sign Up using Facebook</li>
              <ol>
                <li>Click Facebook Button at the bottom</li>
                <li>Login to Facebook</li>
                <li> <span class='bold-text'>You will be redirected back to the homepage</span></li>
              </ol>
            <li>Create a new account from scratch</li>
              <ol>
                <li>Fill out all fields</li>
                <li>Upload a profile picuture if you like <span class='italic-text'>(Optional)</span></li>
                <li>Click Sign Up</li>
                <li> <span class='bold-text'>You will be brought back to the homepage</span></li>
              </ol>
          </ul>
      </ol>
    </div>
    <div class='columns small-12 medium-7'>
      <div class='gif-container--right'>
        <%= image_tag("SignUp") %>
      </div>
    </div>
  </div>

  <div class='bumper-25'></div>
  <div class='bumper-25'></div>
  <div class='bumper-25'></div>

  <!-- How-To #2 == UPLOAD == -->
  <div class='row'>
    <div class='columns small-12 medium-7'>
      <div class='gif-container--left'>
        <%= image_tag("Upload") %>
      </div>
    </div>
    <div class='columns small-12 medium-5'>
      <h3 class='text-center'>How To Upload Photos</h3>
      <ol>
        <li>Click  <span class='bold-text'>'Upload'</span> from the Top Navigation Bar</li>
        <li>Click the <span class='bold-text'>'Up Arrow'</span></li>
        <li>Desktop</li>
          <ul>
            <li>Find files on computer</li>
            <li>Click <span class='bold-text'>'Open'</span></li>
          </ul>
        <li>Mobile</li>
        <ul>
          <li>Tap <span class='bold-text'>'Documents'</span></li>
          <li><span class='bold-text'>NOTE:</span> Tapping 'Camera' will bring you to your camera instead of previously taken photos</li>
          <li>Look for 'Gallery' on the left hand side and tap it</li>
          <li>To upload <span class='bold-text'>ONLY</span> 1 image - Select your image by tapping ONCE</li>
          <li>To upload <span class='bold-text'>MORE THAN</span> 1 - Long Press an image to open multiple select. Now tap all images to upload</li>
          <li>When all images are selected, tap <span class='bold-text'>'OPEN'</span></li>
        </ul>
        <li>Click <span class='bold-text'>'Submit'</span></li>
        <li>If uploading several files, the wait will be longer - <span class='bold-text'>Please be patient</span></li>
        <li>When your upload is complete, you will be redirected to your profile page</li>
      </ol>
    </div>
  </div>

  <div class='bumper-25'></div>
  <div class='bumper-25'></div>
  <div class='bumper-25'></div>

  <!-- How-To #3 == USER INDEX == -->
  <div class='row'>
    <div class='columns small-12 medium-5'>
      <h3 class='text-center'>Family Directory</h3>
      <ul>
        <li>Click <span class='bold-text'>'Family Directory'</span> from the top navigation bar</li>
        <li>To the left is a scrolling list of all users currently signed up</li>
        <li>Clicking on user's to the left will open a card to the right</li>
        <li>The card to the right will list <span class='bold-text'>Name, Email and Picuture</span> (<span class='italic-text'>if provided</span>)</li>
        <li>Click to view User's profile</li>
      </ul>
    </div>
    <div class='columns small-12 medium-7'>
      <div class='gif-container--right'>
        <%= image_tag("User_Index") %>
      </div>
    </div>
  </div>

  <div class='bumper-25'></div>
  <div class='bumper-25'></div>
  <div class='bumper-25'></div>

  <!-- How-To #4 == EDIT PROFILE == -->
  <div class='row'>
    <div class='columns small-12 medium-7'>
      <div class='gif-container--left'>
        <%= image_tag("Edit_Profile") %>
      </div>
    </div>
    <div class='columns small-12 medium-5'>
      <h3 class='text-center'>How To Edit Your Profile</h3>
      <ol>
        <li>First - Login or Signup</li>
        <li>Once Logged in, your name will appear in the top right - <span class='bold-text'>Click it</span></li>
        <li>If your profile is not complete, you will see a button to do so on your profile page</li>
        <li>If your profile is complete, a button labeled <span class='bold-text'>'Edit Profile'</span> will be listed
        <li>Click <span class='bold-text'>'Complete Your Profile'</span> or <span class='bold-text'>'Edit Profile'</span></li>
        <li>All fields are optional <span class='italic-text'>(and public)</span>. Fill out what you would like to share</li>
        <li>When finished, <span class='bold-text'>click 'Submit'</span></li>
      </ol>
    </div>
  </div>

  <div class='bumper-100'></div>
  <div class='bumper-25'></div>

  <!-- CONTACT DEVELOPERS FOR BUGS -->
  <div class='row'>
    <div class='columns small-12 text-center'>
      <h1>Having Issues? Contact Me!</h1>
      <p>
        This site was designed to make it easier for all of us to stay in touch and share memories with one another. If you find anything that is not working as you would expect, please contact me and I will try to fix it as quick as possible. Again, thank you so much for using this site!
      </p>
      <h3>
        <%= mail_to 'mvadamski@gmail.com', "mvadamski@gmail.com" %>
      </h3>
    </div>
  </div>
</div>

<div class='bumper-25'></div>
<div class='bumper-25'></div>
<div class='bumper-25'></div>
