<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Adamski Family Runion 2017" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/90229287b8.js"></script>
  </head>

  <body>
    <div class="container-fullwidth example5">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar5">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, :class => "navbar-brand" do %>
            <%= image_tag("adamski-crest", :alt => "Adamski Crest", class: 'logo') %>
            <span>Adamski Family Reunion</span>
          <% end %>
          <%= link_to root_path, :class => "navbar-brand-mobile" do %>
            <%= image_tag("adamski-crest", :alt => "Adamski Crest", class: 'logo-mobile') %>
            <span>Adamski Family Reunion</span>
          <% end %>
        </div>
        <div id="navbar5" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://localhost:3000/users">Family Directory</a></li>
            <li><a href="http://localhost:3000/photos">View Photos</a></li>
            <li><a href="http://localhost:3000/photos/new">Upload</a></li>
            <% if user_signed_in? %>
              <% if current_user.name %>
                <li class='right-links'><%= link_to current_user.name.split.map(&:capitalize).join(' '), user_path(current_user)%></li>
              <% else %>
                <li class='right-links'><%= link_to current_user.first_name + ' '+ current_user.last_name, user_path(current_user)%></li>
              <% end %>
              <li class='right-links'><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
            <% else %>
              <li class='right-links'><%= link_to 'Log In', new_user_session_path %></li>
              <li class='right-links'><%= link_to 'Sign Up', new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.container-fluid -->
    </nav>

  </div>

    <%= yield %>

    <footer>
      <div class="row">
        <div class="columns small-12 medium-6">
          <p>
            <span class='nav-logo'><%= link_to "Adamski Family Reunion", root_path %></span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© 2017 All Rights Reserved.
          </p>
        </div>
      </div>
    </footer>

  </body>
</html>
